<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:prime="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:util="http://java.sun.com/jsf/composite/components/common"
	xmlns:sec="http://www.springframework.org/security/tags">

<composite:interface>
	<composite:attribute name="bean" type="java.lang.Object" />
</composite:interface>

<composite:implementation>
	<prime:outputPanel autoUpdate="true">
		<prime:dataTable id="dtResponsibleUserTasks"
			rendered="#{cc.attrs.bean.selectedFinding ne null}"
			value="#{cc.attrs.bean.selectedFinding.findingResponsibleActionsAsList()}"
			var="_findingResponsibleAction" styleClass="table-hover">

			<prime:column headerText="Finding #" width="7%">
                #{_findingResponsibleAction.finding.findingNumber}
            </prime:column>

			<prime:column headerText="Action Owner" style="text-align:left;"
				width="12%">
				<h:outputText
					value="#{_findingResponsibleAction.actionOwner.nameSurname}" />
			</prime:column>

			<prime:column headerText=" Action Taken" style="text-align:center;"
				width="22%">
				<h:outputText value="#{_findingResponsibleAction.actionTaken}" />
			</prime:column>

			<prime:column headerText="Completion Percentage" style="text-align:center;" width="%8">

				<h:outputText
					value="#{_findingResponsibleAction.completionPercentage}%" />
			</prime:column>

			<prime:column headerText="Explanation for Confirmation" style="text-align:center;" width="22%">
				<h:outputText value="#{_findingResponsibleAction.explanationForDelay}" />
            </prime:column>

			<prime:column headerText="Revised Completion Date" width="10%" style="text-align:center">
				<h:outputText
					value="#{_findingResponsibleAction.revisedCompletionDate}">
					<f:convertDateTime pattern="dd/MM/yyyy" />
				</h:outputText>
			</prime:column>

			<prime:column headerText="Last Update Date" width="10%" style="text-align:center">
				<h:outputText value="#{_findingResponsibleAction.changeDate}">
					<f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
				</h:outputText>
			</prime:column>

			<prime:column width="4%">
				<prime:commandButton title="History" process="@this"
					icon="ui-icon-clock"
					actionListener="#{cc.attrs.bean.selectFindingResponsibleAction(_findingResponsibleAction)}" />
			</prime:column>
		</prime:dataTable>
	</prime:outputPanel>
	<prime:outputPanel autoUpdate="true">
		<br />
		<prime:outputPanel rendered="#{cc.attrs.bean.selectedFinding ne null}">
			<util:findingResponsibleActionHistory
				findingResponsibleAction="#{cc.attrs.bean.selectedFindingResponsibleAction}" />
		</prime:outputPanel>
	</prime:outputPanel>
</composite:implementation>
</html>