<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:prime="http://primefaces.org/ui"
                xmlns:util="http://java.sun.com/jsf/composite/components/common"
                template="/WEB-INF/templates/default.xhtml">

    <ui:define name="pageHeader">
        Audit Type Administration
    </ui:define>

    <ui:define name="mainContent">
        <h:form id="frmAuditTypeAdmin">
			<div style="width: 40%">
                <prime:dataTable id="dtAuditTypeAdmin" value="#{commonDefinitionsController.auditTypes}" var="_auditType">
                    <prime:column headerText="Audit Types">
                        <prime:commandLink
                                value="#{_auditType.description}"
                                style="color:blue;float:left;"
                                actionListener="#{auditTypeAdminController.selectAuditType(_auditType)}"
                                oncomplete="PF('dlgAuditTypeAdmin').show();"
                                update=":frmAuditTypeAdmin:dlgAuditTypeAdmin"
                                process="dtAuditTypeAdmin"/>
                     
                        <prime:commandLink type="button" value="Delete"
						styleClass="btn btn-mini btn-danger" style="color:white;float:right;font-size:10px;border-radius:15px;"
                        actionListener="#{auditTypeAdminController.deleteAuditType(_auditType)}"
                        update="dtAuditTypeAdmin"
                        onclick="if (!confirm('You are permanently deleting the audit type, are you sure?')) return false"
                        process="dtAuditTypeAdmin"/>
                    </prime:column>
                </prime:dataTable>
                <br />
                <prime:commandButton
                        value="Add New Audit Type"
                        styleClass="btn btn-primary btn-small"
                        process="@this"
                        oncomplete="PF('dlgAuditTypeAdmin').show();"
                        actionListener="#{auditTypeAdminController.addNewAuditType()}"
                        style="float:right" />   
            </div>
            <!-- audit type dialog -->
            <prime:dialog
                    id="dlgAuditTypeAdmin"
                    widgetVar="dlgAuditTypeAdmin"              
                    header="Edit Audit Type"
                    modal="true"
                    dynamic="true"
                    closable="false"
                    height="550">
                <prime:outputPanel autoUpdate="true">
                    <h:panelGrid columns="2" styleClass="table table-striped table-bordered table-condensed">

                        <prime:outputLabel for="txtDescription" value="Description"/>
                        <prime:inputText
                                id="txtDescription"
                                value="#{auditTypeAdminController.selectedAuditType.description}"
                                required="true"
                                requiredMessage="Description is required"/>

                        <prime:outputLabel for="txtBusinessTypes" value="Main Process"/>
                        <h:panelGroup styleClass="aksPickList">
                            <prime:pickList
                                    id="txtBusinessTypes"
                                    value="#{auditTypeAdminController.possibleBusinessTypes}"
                                    var="_possibleBusinessType"
                                    itemValue="#{_possibleBusinessType}"
                                    itemLabel="#{_possibleBusinessType.description}"
                                    showSourceControls="false" showTargetControls="false"
                                    showSourceFilter="true" showTargetFilter="true" filterMatchMode="contains"
                                    converter="entityConverter"
                                    required="true"
                                    requiredMessage="At least one business type must be chosen">
                                <f:facet name="sourceCaption">Available</f:facet>
                                <f:facet name="targetCaption">Connected</f:facet>
                                <f:attribute name="entityList" value="#{commonDefinitionsController.businessProcessTypes}"/>
                            </prime:pickList>
                        </h:panelGroup>
        				
                       
                        <prime:outputLabel for="txtActive" value="Active"/>
                        <prime:selectBooleanCheckbox id="txtActive" value="#{auditTypeAdminController.selectedAuditType.active}"/>


						<prime:outputLabel for="MaximumRevisedDate" value="MaximumReviseDate"/>
                        <prime:selectOneMenu
                                id="MaximumRevisedDate"
                                value="#{auditTypeAdminController.selectedAuditType.maximumRevisedDate}"
                               
                                required="true"
                                requiredMessage="MaximumRevisedDate is required">
<!--                             <prime:ajax event="change" /> -->
                            <f:selectItems
                                    value="#{commonDefinitionsController.maximumRevisedDates}"
                                    var="_maximumRevisedDate"
                                    itemValue="#{__maximumRevisedDate}"
                                    itemLabel="#{__maximumRevisedDate}"/>
                           
                        </prime:selectOneMenu>
                        <prime:outputLabel for="txtCompanyRequired" value="Company Required?"/>
                        <prime:selectBooleanCheckbox id="txtCompanyRequired" value="#{auditTypeAdminController.selectedAuditType.companyRequired}"/>

                        <prime:outputLabel for="txtsendOpeningEmail" value="Send Opening Email?"/>
                        <prime:selectBooleanCheckbox id="txtsendOpeningEmail" value="#{auditTypeAdminController.selectedAuditType.sendOpeningEmail}"/>

                        <prime:outputLabel for="txtEmailSubject" value="Email Subject"/>
                        <prime:inputText id="txtEmailSubject" value="#{auditTypeAdminController.selectedAuditType.emailSubject}"/>

                        <prime:outputLabel for="txtAuditTypeUpdateFollowers" value="Audit Type Update Followers"/>
                        <h:panelGroup styleClass="aksPickList">
                            <prime:pickList
                                    id="txtAuditTypeUpdateFollowers"
                                    value="#{auditTypeAdminController.possibleFollowers}"
                                    var="_possibleFollower"
                                    itemValue="#{_possibleFollower}"
                                    itemLabel="#{_possibleFollower.nameSurname}"
                                    showSourceControls="false" showTargetControls="false"
                                    showSourceFilter="true" showTargetFilter="true" filterMatchMode="contains"
                                    converter="userConverter"
                                    style="height: 100px;">
                                <f:facet name="sourceCaption">Available</f:facet>
                                <f:facet name="targetCaption">Assigned</f:facet>
                                <f:attribute name="type" value="normal" />
                                <f:attribute name="userEntities" value="#{commonDefinitionsController.activeUsers}"/>
                            </prime:pickList>
                        </h:panelGroup>

                        <prime:outputLabel for="txtEmailSendingStrategy" value="Email Sending Strategy"/>
                        <prime:selectOneMenu
                                id="txtEmailSendingStrategy"
                                value="#{auditTypeAdminController.selectedAuditType.emailSendingStrategy}"
                                converter="entityConverter"
                                required="true"
                                requiredMessage="Email sending strategy is required">
                            <prime:ajax event="change" />
                            <f:selectItems
                                    value="#{commonDefinitionsController.emailSendingStrategies}"
                                    var="_emailSendingStrategy"
                                    itemValue="#{_emailSendingStrategy}"
                                    itemLabel="#{_emailSendingStrategy.description}"/>
                            <f:attribute name="entityList" value="#{commonDefinitionsController.emailSendingStrategies}"/>
                        </prime:selectOneMenu>

                        <prime:outputLabel for="txtEmailSendingStrategyContentOne" value="Email content to send on thirth month" rendered="#{auditTypeAdminController.selectedAuditType.emailSendingStrategy.id eq 1}"/>
                        <h:panelGroup rendered="#{auditTypeAdminController.selectedAuditType.emailSendingStrategy.id eq 1}">
                            <prime:selectOneMenu
                                    id="txtEmailSendingStrategyContentOne"
                                    value="#{auditTypeAdminController.selectedAuditType.emailStrategyContentOne}"
                                    converter="entityConverter"
                                    required="true"
                                    requiredMessage="Email content is mandatory">
                                <f:selectItem itemLabel="None" escape="true" itemValue="null"/>
                                <f:selectItems
                                        value="#{commonDefinitionsController.emailContents}"
                                        var="_emailContent"
                                        itemValue="#{_emailContent}"
                                        itemLabel="#{_emailContent.description}"/>
                                <f:attribute name="entityList" value="#{commonDefinitionsController.emailContents}"/>
                            </prime:selectOneMenu>
                        </h:panelGroup>

                        <prime:outputLabel for="txtEmailSendingStrategyContentTwo" value="Email content to send on thirth month plus 1 week" rendered="#{auditTypeAdminController.selectedAuditType.emailSendingStrategy.id eq 1}"/>
                        <h:panelGroup rendered="#{auditTypeAdminController.selectedAuditType.emailSendingStrategy.id eq 1}">
                            <prime:selectOneMenu
                                    id="txtEmailSendingStrategyContentTwo"
                                    value="#{auditTypeAdminController.selectedAuditType.emailStrategyContentTwo}"
                                    converter="entityConverter"
                                    required="true"
                                    requiredMessage="Email content is mandatory">
                                <f:selectItem itemLabel="None" escape="true" itemValue="null"/>
                                <f:selectItems
                                        value="#{commonDefinitionsController.emailContents}"
                                        var="_emailContent"
                                        itemValue="#{_emailContent}"
                                        itemLabel="#{_emailContent.description}"/>
                                <f:attribute name="entityList" value="#{commonDefinitionsController.emailContents}"/>
                            </prime:selectOneMenu>
                        </h:panelGroup>

                        <prime:outputLabel for="txtEmailSendingStrategyContent" value="Email content to send one day before completion date" rendered="#{auditTypeAdminController.selectedAuditType.emailSendingStrategy.id eq 2}"/>
                        <h:panelGroup rendered="#{auditTypeAdminController.selectedAuditType.emailSendingStrategy.id eq 2}">
                            <prime:selectOneMenu
                                    id="txtEmailSendingStrategyContent"
                                    value="#{auditTypeAdminController.selectedAuditType.emailStrategyContentOne}"
                                    converter="entityConverter"
                                    required="true"
                                    requiredMessage="Email content is mandatory">
                                <f:selectItem itemLabel="None" escape="true" itemValue="null"/>
                                <f:selectItems
                                        value="#{commonDefinitionsController.emailContents}"
                                        var="_emailContent"
                                        itemValue="#{_emailContent}"
                                        itemLabel="#{_emailContent.description}"/>
                                <f:attribute name="entityList" value="#{commonDefinitionsController.emailContents}"/>
                            </prime:selectOneMenu>
                        </h:panelGroup>

                        <prime:outputLabel for="txtEmailSendingStrategyContentOneOfThree" value="Email content to send on one week to deadline date" rendered="#{auditTypeAdminController.selectedAuditType.emailSendingStrategy.id eq 3}"/>
                        <h:panelGroup rendered="#{auditTypeAdminController.selectedAuditType.emailSendingStrategy.id eq 3}">
                            <prime:selectOneMenu
                                    id="txtEmailSendingStrategyContentOneOfThree"
                                    value="#{auditTypeAdminController.selectedAuditType.emailStrategyContentOne}"
                                    converter="entityConverter"
                                    required="true"
                                    requiredMessage="Email content is mandatory">
                                <f:selectItem itemLabel="None" escape="true" itemValue="null"/>
                                <f:selectItems
                                        value="#{commonDefinitionsController.emailContents}"
                                        var="_emailContent"
                                        itemValue="#{_emailContent}"
                                        itemLabel="#{_emailContent.description}"/>
                                <f:attribute name="entityList" value="#{commonDefinitionsController.emailContents}"/>
                            </prime:selectOneMenu>
                        </h:panelGroup>

                        <prime:outputLabel for="txtEmailSendingStrategyContentTwoOfThree" value="Email content to send on one day after deadline day" rendered="#{auditTypeAdminController.selectedAuditType.emailSendingStrategy.id eq 3}"/>
                        <h:panelGroup rendered="#{auditTypeAdminController.selectedAuditType.emailSendingStrategy.id eq 3}">
                            <prime:selectOneMenu
                                    id="txtEmailSendingStrategyContentTwoOfThree"
                                    value="#{auditTypeAdminController.selectedAuditType.emailStrategyContentTwo}"
                                    converter="entityConverter"
                                    required="true"
                                    requiredMessage="Email content is mandatory">
                                <f:selectItem itemLabel="None" escape="true" itemValue="null"/>
                                <f:selectItems
                                        value="#{commonDefinitionsController.emailContents}"
                                        var="_emailContent"
                                        itemValue="#{_emailContent}"
                                        itemLabel="#{_emailContent.description}"/>
                                <f:attribute name="entityList" value="#{commonDefinitionsController.emailContents}"/>
                            </prime:selectOneMenu>
                        </h:panelGroup>

                        <prime:outputLabel for="txtEmailSendingStrategyContentThreeOfThree" value="Email content to send on quarterly" rendered="#{auditTypeAdminController.selectedAuditType.emailSendingStrategy.id eq 3}"/>
                        <h:panelGroup rendered="#{auditTypeAdminController.selectedAuditType.emailSendingStrategy.id eq 3}">
                            <prime:selectOneMenu
                                    id="txtEmailSendingStrategyContentThreeOfThree"
                                    value="#{auditTypeAdminController.selectedAuditType.emailStrategyContentThree}"
                                    converter="entityConverter"
                                    required="true"
                                    requiredMessage="Email content is mandatory">
                                <f:selectItem itemLabel="None" escape="true" itemValue="null"/>
                                <f:selectItems
                                        value="#{commonDefinitionsController.emailContents}"
                                        var="_emailContent"
                                        itemValue="#{_emailContent}"
                                        itemLabel="#{_emailContent.description}"/>
                                <f:attribute name="entityList" value="#{commonDefinitionsController.emailContents}"/>
                            </prime:selectOneMenu>
                        </h:panelGroup>

                        <prime:outputLabel for="txtUpdateFindingEmailContent" value="Email to Send on Update Finding"/>
                        <h:panelGroup>
                            <prime:selectOneMenu
                                    id="txtUpdateFindingEmailContent"
                                    value="#{auditTypeAdminController.selectedAuditType.updateEmailContent}"
                                    converter="entityConverter">
                                <f:selectItem itemLabel="None" escape="true" itemValue="null"/>
                                <f:selectItems
                                        value="#{commonDefinitionsController.emailContents}"
                                        var="_emailContent"
                                        itemValue="#{_emailContent}"
                                        itemLabel="#{_emailContent.description}"/>
                                <f:attribute name="entityList" value="#{commonDefinitionsController.emailContents}"/>
                            </prime:selectOneMenu>
                        </h:panelGroup>

                        <prime:outputLabel for="txtOpenFindingEmailContent" value="Email to Send on Opening Finding"/>
                        <h:panelGroup>
                            <prime:selectOneMenu
                                    id="txtOpenFindingEmailContent"
                                    value="#{auditTypeAdminController.selectedAuditType.openingEmailContent}"
                                    converter="entityConverter">
                                <f:selectItem itemLabel="None" escape="true" itemValue="null"/>
                                <f:selectItems
                                        value="#{commonDefinitionsController.emailContents}"
                                        var="_emailContent"
                                        itemValue="#{_emailContent}"
                                        itemLabel="#{_emailContent.description}"/>
                                <f:attribute name="entityList" value="#{commonDefinitionsController.emailContents}"/>
                            </prime:selectOneMenu>
                        </h:panelGroup>
                        
                        <prime:outputLabel for="txtReminderEmailContent" value="Send Weekly Reminder Mail"/>
                        <h:panelGroup>
                            <prime:selectOneMenu
                                    id="txtReminderEmailContent"
                                    value="#{auditTypeAdminController.selectedAuditType.sendWeeklyReminderMail}"
                                    converter="entityConverter">
                                <f:selectItem itemLabel="None" escape="true" itemValue="null"/>
                                <f:selectItems
                                        value="#{commonDefinitionsController.emailContents}"
                                        var="_emailContent"
                                        itemValue="#{_emailContent}"
                                        itemLabel="#{_emailContent.description}"/>
                                <f:attribute name="entityList" value="#{commonDefinitionsController.emailContents}"/>
                            </prime:selectOneMenu>
                        </h:panelGroup>
                        
                        <f:facet name="footer">
                            <h:panelGroup style="float: right;">
                                <prime:commandButton
                                        value="Cancel"
                                        process="@this"
                                        actionListener="#{commonDefinitionsController.init}"
                                        update="dlgAuditTypeAdmin"
                                        oncomplete="PF('dlgAuditTypeAdmin').hide();"/>
                                <prime:commandButton
                                        value="Save"
                                        update="dtAuditTypeAdmin"
                                        oncomplete="handleSaveRequest(xhr,status, args)"
                                        actionListener="#{auditTypeAdminController.saveAuditType()}"/>
                            </h:panelGroup>
                        </f:facet>

                    </h:panelGrid>
                </prime:outputPanel>
            </prime:dialog>

        </h:form>
        <script type="text/javascript">
            function handleSaveRequest(xhr, status, args)
            {
                if (!args.validationFailed)
                {
                    PF('dlgAuditTypeAdmin').hide();
                }
            }
        </script>
    </ui:define>

    <ui:define name="helpContent">
        <b>
        </b>
    </ui:define>

</ui:composition>