<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:prime="http://primefaces.org/ui"
                xmlns:util="http://java.sun.com/jsf/composite/components/common"
                template="/WEB-INF/templates/default.xhtml">

    <ui:define name="pageHeader">
        Department Administration
    </ui:define>

    <ui:define name="mainContent">
        <h:form id="frmAuditTypeAdmin">
			<div style="width: 40%">
                <prime:dataTable id="dtAuditTypeAdmin" value="#{commonDefinitionsController.departments}" var="_department">
                    <prime:column headerText="Departments">
                        <prime:commandLink
                                value="#{_department.description}"
                                style="color:blue;float:left;"
                                actionListener="#{departmentAdminController.selectDepartment(_department)}"
                                oncomplete="PF('dlgAuditTypeAdmin').show();"
                                update=":frmAuditTypeAdmin:dlgAuditTypeAdmin"
                                process="dtAuditTypeAdmin"/>
                     
                        <prime:commandLink type="button" value="Delete"
						styleClass="btn btn-mini btn-danger" style="color:white;float:right;font-size:10px;border-radius:15px;"
                        actionListener="#{departmentAdminController.deleteDepartment(_department)}"
                        update="dtAuditTypeAdmin"
                        onclick="if (!confirm('You are permanently deleting the department, are you sure?')) return false"
                        process="dtAuditTypeAdmin"/>
                    </prime:column>
                </prime:dataTable>
                <br />
                <prime:commandButton
                        value="Add New Department"
                        styleClass="btn btn-primary btn-small"
                        process="@this"
                        oncomplete="PF('dlgAuditTypeAdmin').show();"
                        actionListener="#{departmentAdminController.addNewDepartment()}"
                        style="float:right" />   
            </div>
            <!-- audit type dialog -->
            <prime:dialog
                    id="dlgAuditTypeAdmin"
                    widgetVar="dlgAuditTypeAdmin"
                    header="Edit Department"
                    modal="true"
                    dynamic="true"
                    closable="false"
                    height="550">
                <prime:outputPanel autoUpdate="true">
                    <h:panelGrid columns="2" styleClass="table table-striped table-bordered table-condensed">

                        <prime:outputLabel for="txtDescription" value="Department Name"/>
                        <prime:inputText
                                id="txtDescription"
                                value="#{departmentAdminController.selectedDepartmentType.description}"
                                required="true"
                                requiredMessage="Description is required"/>

                        <prime:outputLabel for="txtActive" value="Active"/>
                        <prime:selectBooleanCheckbox id="txtActive" value="#{departmentAdminController.selectedDepartmentType.active}"/>

                        <prime:outputLabel for="txtAuditTypeUpdateFollowers" value="Department Head"/>
                        <h:panelGroup styleClass="aksPickList">
                            <prime:pickList
                                    id="txtAuditTypeUpdateFollowers"
                                    value="#{departmentAdminController.possibleHeaders}"
                                    var="_possibleHeader"
                                    itemValue="#{_possibleHeader}"
                                    itemLabel="#{_possibleHeader.nameSurname}"
                                    showSourceControls="false" showTargetControls="false"
                                    showSourceFilter="true" showTargetFilter="true" filterMatchMode="contains"
                                    converter="userConverter"
                                    style="height: 100px;">
                                <f:facet name="sourceCaption">Available</f:facet>
                                <f:facet name="targetCaption">Assigned</f:facet>
                                <f:attribute name="type" value="normal" />
                                <f:attribute name="userEntities" value="#{commonDefinitionsController.activeUsers}"/>
                            </prime:pickList>
                        </h:panelGroup>
		
						   <prime:outputLabel for="txtEmailSubject" value="Email Subject"/>
                        <prime:inputText id="txtEmailSubject" value="#{departmentAdminController.selectedDepartmentType.emailSubject}"/>
		
						<prime:outputLabel for="txtSendOnQuarterlyForDepartmentHead"
							value="Email Content To Send On Quarterly For Department Head" />
						<h:panelGroup>
				
							<prime:selectOneMenu id="txtSendOnQuarterlyForDepartmentHead"
								value="#{departmentAdminController.selectedDepartmentType.departmentEmailContent}"
								converter="entityConverter">
								<f:selectItem itemLabel="None" escape="true" itemValue="null" />
								<f:selectItems
									value="#{commonDefinitionsController.emailContents}"
									var="_emailContent" itemValue="#{_emailContent}"
									itemLabel="#{_emailContent.description}" />
								<f:attribute name="entityList"
									value="#{commonDefinitionsController.emailContents}" />
							</prime:selectOneMenu>
						</h:panelGroup>

						<f:facet name="footer">
                            <h:panelGroup style="float: right;">
                                <prime:commandButton
                                        value="Cancel"
                                        process="@this"
                                        actionListener="#{commonDefinitionsController.init}"
                                        update="dlgAuditTypeAdmin"
                                        oncomplete="PF('dlgAuditTypeAdmin').hide();"/>
                                <prime:commandButton
                                        value="Save"
                                        update="dtAuditTypeAdmin"
                 	                       oncomplete="handleSaveRequest(xhr,status, args)"
                                        actionListener="#{departmentAdminController.saveDepartment()}"/>
                            </h:panelGroup>
                        </f:facet>

                    </h:panelGrid>
                </prime:outputPanel>
            </prime:dialog>

        </h:form>
        <script type="text/javascript">
            function handleSaveRequest(xhr, status, args)
            {
                if (!args.validationFailed)
                {
                    PF('dlgAuditTypeAdmin').hide();
                }
            }
        </script>
    </ui:define>

    <ui:define name="helpContent">
        <b>
        </b>
    </ui:define>

</ui:composition>