<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:prime="http://primefaces.org/ui"
                xmlns:util="http://java.sun.com/jsf/composite/components/common"
                template="/WEB-INF/templates/default.xhtml">

    <ui:define name="pageHeader">
        Email Administration
    </ui:define>

    <ui:define name="mainContent">
    
    <h:form id="form">
      
      <prime:dataTable id="emailDT" value="#{commonDefinitionsController.emailContents}" var="emailContent">
      	
                 	<prime:column headerText="Mail Description">
                    
                     <prime:commandLink
                                value="#{emailContent.description}"
                                style="color:blue;float:left;" 
                                actionListener="#{editMailController.setSelectedEmailContent(emailContent)}"
                                oncomplete="PF('emailDialog').show()"
                                update=":form:emailDetail"
                                process="emailDT" />
                    </prime:column>    
        </prime:dataTable>
         <br />
                <prime:commandButton
                        value="Add New Mail Content"
                        styleClass="btn btn-primary btn-small"
                        update=":form:emailDetail"
                        process="@this"
                        actionListener="#{editMailController.createNewMailContent()}"
                        oncomplete="PF('emailDialog').show();"
                        style="float:right" />   
 
      
        <prime:dialog header="Email Content"
         widgetVar="emailDialog" 
         modal="true" 
         showEffect="fade" 
         hideEffect="fade" 
         resizable="true" 
         width="600px" 
         height="500" 
         style="padding-left: 5px !important;">
        <prime:outputPanel  id="emailDetail">
        	
        	      	            <h:panelGrid id="panelGrid" columns="2" styleClass="table table-striped table-bordered table-condensed">
        	
        	 <prime:outputLabel value="Description"/>
						<prime:inputText id="emailContentDescription"
							value="#{editMailController.selectedEmailContent.description}"
							required="true" requiredMessage="Description is required"/>
					</h:panelGrid>
        	
       		   <prime:editor id="dialogInputTextArea" autoResize="true" style="width: 97%; " rows="25"
                value="#{editMailController.selectedEmailContent.mailContent}"
                required="true" requiredMessage="Mail body is required">
                </prime:editor>
                <br/>
                <br/>
                <br/>

           <prime:outputLabel style="text-align:left;">
    	    Denetim Raporu: $findingDescription$<br/>
			Bulgu No: $findingNo$<br/>
			İlgili Süreç: $businessProcess$<br/>
			Bulgu Statü: $findingStatus$<br/>
			Aksiyon Sahibi: $userName$<br/>

			$ownersInfo:{ info |<br/>
			$info$<br/>
			}$<br/>

			$URL$<br/>
			
			Bulgu Önceliği: $findingPriority$<br/>
			Bulgu Detayları: $findingDetail$<br/>   
			Bulgu Özeti: $findingSummary$<br/>          
			Bulgu Riski: $findingRisk$<br/>
			Bulgu Tavsiyesi: $findingRecommandation$<br/>
			Bulgu Yönetim Planı: $managementActionPlan$<br/>
			Bulgu Tamamlanma Tarihi: $completionDate$<br/>
			Alınan Son Aksiyon: $actionTaken$<br/>
			Bulgu Genel Tamamlanma Oranı: $completionPercentage$<br/>
			Bulgu Tamamlama Oranınız: $completionPercentageForActionOwner$<br/>
			Bulgu Gecikme Sebebi: $explanationForDelay$<br/>
			Bulgu Revize Tarihi: $revisedCompletionDate$<br/>
			Bulgu Güncelleme Zamanı: $updateTime$
			
			
			
           </prime:outputLabel>
           
            <br/>
            <br/>
            <br/>
      	
      	  <h:panelGroup style="float: right;">
      	  						 <prime:commandButton
                                        value="Cancel"
                                        process="@form"
                                        update="emailDT"
                                        immediate="true"
                                        oncomplete="PF('emailDialog').hide();"/>
                                <prime:commandButton
                                        value="Delete"
                                        process="@form"
                                        actionListener="#{editMailController.deleteMailContent}"
                                        update="emailDT"
                                        immediate="true"
                                        oncomplete="PF('emailDialog').hide();"/>
                                <prime:commandButton
                                        value="Save"
                                        process="@form"
                                        update="emailDT"
                                        oncomplete="handleSaveRequest(xhr,status, args)"
                                        actionListener="#{editMailController.saveOrUpdateSelectedEmailContent()}"/>
                            </h:panelGroup>
        </prime:outputPanel>
        </prime:dialog>
        </h:form>
        
          <script type="text/javascript">
            function handleSaveRequest(xhr, status, args)
            {
                if (!args.validationFailed)
                {
                    PF('emailDialog').hide();
                }
            }
        </script>
            
    </ui:define>
    	

    <ui:define name="helpContent">
        <b>
        </b>
    </ui:define>

</ui:composition>