<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:prime="http://primefaces.org/ui"
                xmlns:util="http://java.sun.com/jsf/composite/components/common"
                template="/WEB-INF/templates/default.xhtml">

    <ui:define name="pageHeader">
        Audit Findings
    </ui:define>

    <ui:define name="mainContent">
        <h:form id="findingAdminId">
            <util:findingList
                    findings="#{findingAdminController.findingLazyDataModel}"
                    activeActionOwners="#{findingAdminController.findingLazyDataModel.actionOwnersOfFindings}"
                    activeResponsibleOwners="#{findingAdminController.findingLazyDataModel.responsibleOwnersOfFindings}"
                    statuses="#{searchFindingController.searchParameters.getStatusDescriptions()}"
                    bean="#{findingAdminController}"
                   />
        </h:form>
    </ui:define>

    <ui:define name="helpContent">
        <b>
            At this page you can view the audit findings that are assigned to you and other users and also view/change status of them
        </b>
    </ui:define>

</ui:composition>