<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
   				xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:prime="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                 xmlns:ice="http://java.sun.com/jsf/html"
                template="/WEB-INF/templates/default.xhtml">

    <ui:define name="pageHeader">
        Number of Findings per Company Graphical Report
    </ui:define>

    <ui:define name="mainContent">
    
    	 <h:form id="summaryReportForm">
    	 <h:panelGrid id="searchPanel" columns="2" styleClass="table table-striped table-bordered table-condensed">
  		  <prime:outputLabel for="txtAuditType" value="Audit Type"/>
 			
 			<prime:selectCheckboxMenu
                  id="txtAuditType"
                     value="#{numberOfFindingsPerCompanyGraphicalReportController.selectedAuditTypes}"
                  	  multiple="true"
                     filter="true"
                     filterMatchMode="startsWith" 
                     panelStyle="width:265px"
                     converter="entityConverter">
             <prime:ajax event="change" update="@form" listener="#{numberOfFindingsPerCompanyGraphicalReportController.changeAuditType()}"/>
             <prime:ajax event="toggleSelect" update="@form" partialSubmit="true" listener="#{numberOfFindingsPerCompanyGraphicalReportController.changeAuditType()}"/> 
            <f:selectItems
             value="#{commonDefinitionsController.auditTypes}"
             var="_auditType"
             itemValue="#{_auditType}"
             itemLabel="#{_auditType.description}"/>
  		    <f:selectItem noSelectionOption="true" itemLabel="Please Select" escape="true" itemDisabled="true"/> 
  		 	<f:attribute name="entityList" value="#{commonDefinitionsController.auditTypes}"/>
    	   	
         </prime:selectCheckboxMenu>
      </h:panelGrid>
    
    
    
    
        <div class="span2 offset3">
            <prime:chart
                    id="pieChart" type="pie"
                    model="#{numberOfFindingsPerCompanyGraphicalReportController.pieChartModel}"
                    legendPosition="w"
                    title="Findings Graph"
                    style="width:500px;height:400px;"
                    sliceMargin="5"
                    showDataLabels="true"
                    dataFormat="value">
                <prime:ajax event="itemSelect" listener="#{numberOfFindingsPerCompanyGraphicalReportController.selectPieChart}" update="growl"/>
            </prime:chart>

            <p class="text-error" style="width:500px;text-align: center">To see details of the findings please click on the chart</p>
        </div>
    
     </h:form>
        
       </ui:define>

    <ui:define name="helpContent">
        <b>
        </b>
    </ui:define>

</ui:composition>