<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:prime="http://primefaces.org/ui"
	xmlns:util="http://java.sun.com/jsf/composite/components/common"
	template="/WEB-INF/templates/default.xhtml">

	<ui:define name="pageHeader">
        Search Audit Findings
    </ui:define>

	<ui:define name="mainContent">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{searchFindingController.searchFromUrl}" />
		</f:metadata>
		<h:form id="searchForm">
			<h:panelGrid id="searchPanel" columns="4"
				styleClass="table table-striped table-bordered table-condensed">
				<prime:outputLabel for="txtAuditType" value="Audit Type: " />
				<h:panelGroup>
					<prime:selectManyMenu id="txtAuditType" converter="entityConverter"
						style="height:150px; width:250px;" scrollHeight="150"
						value="#{searchFindingController.searchParameters.auditTypes}">
						<f:selectItems value="#{commonDefinitionsController.auditTypes}"
							var="_auditType" itemLabel="#{_auditType.description}"
							itemValue="#{_auditType}" />
						<f:attribute name="entityList"
							value="#{commonDefinitionsController.auditTypes}" />
					</prime:selectManyMenu>
					<prime:selectBooleanCheckbox style="float:right" itemLabel="All"
						value="#{searchFindingController.selectAllAuditTypes}">
						<prime:ajax process="searchForm"
							listener="#{searchFindingController.selectDeSelectAllAuditTypes()}"
							update="searchPanel" />
					</prime:selectBooleanCheckbox>
				</h:panelGroup>

				<prime:outputLabel for="txtPriority" value="Priority: " />
				<h:panelGroup>
					<prime:selectManyMenu id="txtPriority"
						style="height:150px; width:250px;" scrollHeight="150"
						value="#{searchFindingController.searchParameters.priorities}">
						<f:selectItems value="#{commonDefinitionsController.priorities}"
							var="_priority" itemLabel="#{_priority.description}"
							itemValue="#{_priority.name()}" />
					</prime:selectManyMenu>
					<prime:selectBooleanCheckbox style="float:right" itemLabel="All"
						value="#{searchFindingController.selectAllPriorities}">
						<prime:ajax process="searchForm"
							listener="#{searchFindingController.selectDeSelectAllPriorities()}"
							update="searchPanel" />
					</prime:selectBooleanCheckbox>
				</h:panelGroup>

				<prime:outputLabel for="txtBusinessType" value="Main Process: " />
				<h:panelGroup>
					<prime:selectManyMenu id="txtBusinessType"
						converter="entityConverter" style="height:150px; width:250px;"
						scrollHeight="150"
						value="#{searchFindingController.searchParameters.businessProcessTypes}">
						<f:selectItems
							value="#{commonDefinitionsController.businessProcessTypes}"
							var="_businessType" itemLabel="#{_businessType.description}"
							itemValue="#{_businessType}" />
						<f:attribute name="entityList"
							value="#{commonDefinitionsController.businessProcessTypes}" />
					</prime:selectManyMenu>
					<prime:selectBooleanCheckbox style="float:right" itemLabel="All"
						value="#{searchFindingController.selectAllBusinessTypes}">
						<prime:ajax process="searchForm"
							listener="#{searchFindingController.selectDeSelectAllBusinessTypes()}"
							update="searchPanel" />
					</prime:selectBooleanCheckbox>
				</h:panelGroup>

				<prime:outputLabel for="txtSubBusinessType" value="Process: " />
				<h:panelGroup>
					<prime:selectManyMenu id="txtSubBusinessType"
						converter="entityConverter" style="height:150px; width:250px;"
						scrollHeight="150"
						value="#{searchFindingController.searchParameters.businessSubProcessTypes}">
						<f:selectItems
							value="#{commonDefinitionsController.businessSubProcessTypes}"
							var="_businessSubType"
							itemLabel="#{_businessSubType.description}"
							itemValue="#{_businessSubType}" />
						<f:attribute name="entityList"
							value="#{commonDefinitionsController.businessSubProcessTypes}" />
					</prime:selectManyMenu>
					<prime:selectBooleanCheckbox style="float:right" itemLabel="All"
						value="#{searchFindingController.selectAllBusinessSubTypes}">
						<prime:ajax process="searchForm"
							listener="#{searchFindingController.selectDeSelectAllBusinessSubTypes()}"
							update="searchPanel" />
					</prime:selectBooleanCheckbox>
				</h:panelGroup>

				<prime:outputLabel for="txtCompany" value="Company :" />
				<h:panelGroup>
					<prime:selectManyMenu id="txtCompany" converter="companyConverter"
						scrollHeight="150" style="height:150px; width:250px;"
						value="#{searchFindingController.searchParameters.companies}">
						<f:selectItems value="#{commonDefinitionsController.companies}"
							var="_company" itemLabel="#{_company.description}"
							itemValue="#{_company}" />
						<f:attribute name="companyEntities"
							value="#{commonDefinitionsController.companies}" />
					</prime:selectManyMenu>
					<prime:selectBooleanCheckbox style="float:right" itemLabel="All"
						value="#{searchFindingController.selectAllCompanies}">
						<prime:ajax process="searchForm"
							listener="#{searchFindingController.selectDeSelectAllCompanies()}"
							update="searchPanel" />
					</prime:selectBooleanCheckbox>
				</h:panelGroup>
				<h:panelGrid columns="1"
					styleClass="table table-striped table-bordered table-condensed"
					scrollHeight="150">
					<prime:outputLabel style="padding: 5px 6px; margin-bottom: 10px;"
						value="Finding No:" for="txtFindingNo" />
					<prime:outputLabel style="padding: 5px 6px; margin-bottom: 10px;"
						rendered="#{sec:areAnyGranted('ROLE_ADMIN')}" for="txtEntryDate" value="Entry Date:" />
					<prime:outputLabel style="padding: 5px 6px; margin-bottom: 10px;"
						for="txtFindingYear" value="Finding Year:" />
					<prime:outputLabel style="padding: 5px 6px; margin-bottom: 10px;"
						for="txtReportName" value="Report Name:" />
				</h:panelGrid>
				<h:panelGrid columns="1"
					styleClass="table table-striped table-bordered table-condensed"
					scrollHeight="150">

					<prime:inputText id="txtFindingNo"
						value="#{searchFindingController.searchParameters.findingNo}" />

					<prime:calendar id="txtEntryDate" rendered="#{sec:areAnyGranted('ROLE_ADMIN')}"
						value="#{searchFindingController.searchParameters.findingEntryDate}"
						pattern="dd/MM/yyyy" />

					<prime:calendar id="txtFindingYear"
						value="#{searchFindingController.searchParameters.findingYear}"
						pattern="yyyy" yearRange="-10" navigator="true" />

					<prime:inputText id="txtReportName"
						value="#{searchFindingController.searchParameters.reportName}" />

				</h:panelGrid>
				<prime:outputLabel for="txtActionOwners" value="Action Owner : " />
				<h:panelGroup>
					<prime:selectManyMenu filter="true" filterMatchMode="contains"
						id="txtActionOwners" converter="userConverter" scrollHeight="109"
						style="height:150px; width:250px;"
						value="#{searchFindingController.searchParameters.users}">
						<f:selectItems value="#{commonDefinitionsController.allUsers}"
							var="_user" itemValue="#{_user}" itemLabel="#{_user.nameSurname}" />
						<f:attribute name="userEntities"
							value="#{commonDefinitionsController.activeUsers}" />
					</prime:selectManyMenu>
					<prime:selectBooleanCheckbox style="float:right" itemLabel="All"
						value="#{searchFindingController.selectAllActionOwners}">
						<prime:ajax process="searchForm"
							listener="#{searchFindingController.selectDeSelectAllActionOwners()}"
							update="searchPanel" />
					</prime:selectBooleanCheckbox>
				</h:panelGroup>

				<prime:outputLabel value="Completion Date :"
					for="txtCompletionDateFirst" />
				<h:panelGrid columns="2"
					styleClass="table table-striped table-bordered table-condensed">
					<h:outputText value="Between" />
					<prime:calendar id="txtCompletionDateFirst"
						value="#{searchFindingController.searchParameters.completionDateStart}"
						pattern="dd/MM/yyyy" />
					<h:outputText value="And" />
					<prime:calendar id="txtCompletionDateSecond"
						value="#{searchFindingController.searchParameters.completionDateEnd}"
						pattern="dd/MM/yyyy" />
				</h:panelGrid>

				<prime:outputLabel value="Finding Title Contains :"
					for="txtDescription" />
				<prime:inputTextarea id="txtDescription" maxlength="32700" rows="5"
					style="height:150px; width:250px;" autoResize="false"
					value="#{searchFindingController.searchParameters.description}" />

				<prime:outputLabel value="Completion Percentage :"
					for="txtCompletionPercentageStart" />
				<h:panelGrid columns="2"
					styleClass="table table-striped table-bordered table-condensed">
					<h:outputText value="Between" />
					<prime:inputText id="txtCompletionPercentageStart"
						value="#{searchFindingController.searchParameters.completionPercentageStart}"
						type="number" />
					<h:outputText value="And" />
					<prime:inputText id="txtCompletionPercentageEnd"
						value="#{searchFindingController.searchParameters.completionPercentageEnd}"
						type="number" />
				</h:panelGrid>

				<prime:outputLabel for="txtStatus" value="Status :" />
				<h:panelGrid columns="2"
					styleClass="table table-striped table-bordered table-condensed">
					<prime:selectManyMenu id="txtStatus"
						style="height:150px; width:250px;" scrollHeight="150"
						value="#{searchFindingController.searchParameters.statuses}">
						<f:selectItems value="#{commonDefinitionsController.statuses}"
							var="_status" itemLabel="#{_status.description}"
							itemValue="#{_status.name()}" />
					</prime:selectManyMenu>
					<f:verbatim />
					<prime:outputLabel value="All :" for="txtAll" style="float: right" />
					<prime:selectBooleanCheckbox id="txtAll"
						value="#{searchFindingController.selectAllStatuses}">
						<prime:ajax process="searchForm"
							listener="#{searchFindingController.selectDeSelectAllStatuses()}"
							update="searchPanel" />
					</prime:selectBooleanCheckbox>
					<prime:outputLabel value="Not Implemented :"
						for="txtNotImplemented" style="float: right" />
					<prime:selectBooleanCheckbox id="txtNotImplemented"
						value="#{searchFindingController.searchParameters.notImplemented}" />
					<prime:outputLabel value="Waiting for Revised Comp.Date Approval :"
						for="txtApproval" style="float: right" />
					<prime:selectBooleanCheckbox id="txtApproval"
						value="#{searchFindingController.searchParameters.notApproved}" />
				</h:panelGrid>


				<prime:outputLabel value="" />
				<prime:outputLabel value="" />

				<f:facet name="footer">
					<h:panelGroup style="float: right;">
						<prime:commandButton id="reset" value="Reset"
							update="searchPanel, panelSearchResult" process="@this"
							styleClass="btn btn-danger"
							action="../admin/searchFinding.xhtml" />
						<prime:commandButton id="search" value="Search"
							styleClass="btn btn-primary" style="float:right"
							widgetVar="searchButton"
							actionListener="#{searchFindingController.search()}"
							update="panelSearchResult" />
						<prime:defaultCommand target="search" />
					</h:panelGroup>
				</f:facet>

			</h:panelGrid>

			<prime:outputPanel id="panelSearchResult">
				<prime:outputPanel
					rendered="#{searchFindingController.searchResults.size() gt 0}">
					<util:searchFindingList
						findings="#{searchFindingController.searchResults}"
						bean="#{findingAdminController}" />
				</prime:outputPanel>
			</prime:outputPanel>

		</h:form>

	</ui:define>

	<ui:define name="helpContent">
		<b> At this page you can search audit findings and edit and view
			details of them </b>
	</ui:define>

</ui:composition>