<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:prime="http://primefaces.org/ui"
                xmlns:util="http://java.sun.com/jsf/composite/components/common"
                template="/WEB-INF/templates/default.xhtml">

    <ui:define name="pageHeader">
        User Administration
    </ui:define>

    <ui:define name="mainContent">
        <h:form id="userAdminForm">
            <prime:commandButton
                    value="Add new user"
                    styleClass="btn btn-primary btn-small"
                    style="float:right"
                    process="@this"
                    actionListener="#{userAdminController.addNewUser()}"
                    oncomplete="PF('dialogAddEditUser').show();"/>
            <br/>
            <br/>
            <br/>
            <prime:dataTable value="#{commonDefinitionsController.allUsers}" var="_user" id="usersDataTable">
                <prime:column headerText="Username" sortBy="#{_user.username}" filterBy="#{_user.username}" filterMatchMode="contains">
                    <h:outputText value="#{_user.username}"/>
                </prime:column>
                <prime:column headerText="Name and Surname" sortBy="#{_user.nameSurname}" filterBy="#{_user.nameSurname}" filterMatchMode="contains">
                    <h:outputText value="#{_user.nameSurname}"/>
                </prime:column>
                <prime:column headerText="Email" sortBy="#{_user.email}" filterBy="#{_user.email}" filterMatchMode="contains">
                    <h:outputText value="#{_user.email}"/>
                </prime:column>
                <prime:column headerText="Job Title" sortBy="#{_user.jobTitle}" filterBy="#{_user.jobTitle}" filterMatchMode="contains">
                    <h:outputText value="#{_user.jobTitle}"/>
                </prime:column>
                <prime:column headerText="Active" sortBy="#{_user.active}" style="text-align:center">
                    <h:outputText value="#{_user.active ? 'Active' : 'Deactive'}" style="color: #{_user.active ? 'green' : 'red'}"/>
                </prime:column>
                <prime:column headerText="Roles" style="text-align:center">
                    <prime:dataList value="#{_user.rolesAsList}" var="_role" styleClass="dataList">
                        #{_role.name}
                    </prime:dataList>
                </prime:column>
                <prime:column width="30" style="text-align:center">
                    <prime:commandButton
                            title="Edit"
                            style="float:left"
                            actionListener="#{userAdminController.selectUser(_user)}"
                            onsuccess="PF('dialogAddEditUser').show();"
                            icon="ui-icon-pencil"/>
                </prime:column>
            </prime:dataTable>
            <br/>

            <prime:commandButton
                    value="Add new user"
                    styleClass="btn btn-primary btn-small"
                    style="float:right"
                    process="@this"
                    actionListener="#{userAdminController.addNewUser()}"
                    oncomplete="PF('dialogAddEditUser').show();"/>

        </h:form>

        <h:form id="userSaveForm">
            <prime:dialog id="dialogAddEditUser" closable="false" widgetVar="dialogAddEditUser" header="Edit/Add User" dynamic="true" modal="true">
                <prime:outputPanel autoUpdate="true">
                    <h:panelGrid columns="2" styleClass="table table-striped table-bordered table-condensed">

                        <prime:outputLabel value="Username:" for="txtUsername"/>
                        <prime:inputText id="txtUsername" value="#{userAdminController.selectedUser.username}" required="true" requiredMessage="Username is required"/>

                        <prime:outputLabel value="Name and Surname:" for="txtNameAndSurname"/>
                        <prime:inputText id="txtNameAndSurname" value="#{userAdminController.selectedUser.nameSurname}" required="true"
                                         requiredMessage="Name and Surname is required"/>

                        <prime:outputLabel value="Email:" for="txtEmail"/>
                        <prime:inputText id="txtEmail" value="#{userAdminController.selectedUser.email}" required="true" requiredMessage="Email is required" size="200"
                                         validatorMessage="Please enter valid email">
                            <f:validateRegex pattern="^[_A-Za-z0-9-]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9-]+)*(\.[_A-Za-z0-9-]+)"/>
                        </prime:inputText>

                        <prime:outputLabel value="Job Title:" for="txtJobTitle"/>
                        <prime:inputText id="txtJobTitle" value="#{userAdminController.selectedUser.jobTitle}" required="true" requiredMessage="Job title is required"/>

                        <h:outputText value="Active:"/>
                        <prime:selectBooleanCheckbox value="#{userAdminController.selectedUser.active}"/>

                        <prime:outputLabel for="txtUserRoles" value="User Role(s):"/>
                        <h:panelGroup styleClass="aksPickList">
                            <prime:pickList
                                    id="txtUserRoles"
                                    value="#{userAdminController.selectedUserRoles}"
                                    var="_userRole"
                                    itemValue="#{_userRole}"
                                    itemLabel="#{_userRole.name}"
                                    showSourceControls="false" showTargetControls="false"
                                    converter="roleConverter"
                                    required="true"
                                    requiredMessage="At least one role must be chosen">
                                <f:facet name="sourceCaption">Available</f:facet>
                                <f:facet name="targetCaption">Assigned</f:facet>
                                <f:attribute name="roleEntities" value="#{commonDefinitionsController.allRoles}"/>
                            </prime:pickList>
                        </h:panelGroup>

                        <f:facet name="footer">
                            <h:panelGroup style="float:right;">
                                <prime:commandButton value="Cancel" onsuccess="PF('dialogAddEditUser').hide();" process="@this"/>
                                <prime:commandButton
                                        value="Save"
                                        actionListener="#{userAdminController.saveUser()}"
                                        update=":userAdminForm:usersDataTable, :growl"
                                        oncomplete="handleSaveUserRequest(xhr, status, args)"/>
                            </h:panelGroup>
                        </f:facet>
                    </h:panelGrid>
                </prime:outputPanel>
            </prime:dialog>
        </h:form>
        <script type="text/javascript">
            function handleSaveUserRequest(xhr, status, args)
            {
                if (args.validationFailed)
                {
                    jQuery('#dialogAddEditUser').effect("shake", { times:3 }, 100);
                }
                else
                {
                	PF('dialogAddEditUser').hide();
                }
            }
        </script>
    </ui:define>

    <ui:define name="helpContent">
        <b>
        </b>
    </ui:define>

</ui:composition>