<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:prime="http://primefaces.org/ui"
	xmlns:sec="http://www.springframework.org/security/tags">
<h:head>

	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Cache-Control" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
	<meta http-equiv="Last-Modified" content="0" />
	<meta http-equiv="Cache-Control" content="no-cache, mustrevalidate" />
	<title><ui:insert name="title">Çimsa Audit Follow Up System (AFUS)</ui:insert></title>
	<link
		href="#{facesContext.externalContext.requestContextPath}/style/css/bootstrap.css"
		rel="stylesheet" type="text/css" />
	<link
		href="#{facesContext.externalContext.requestContextPath}/style/css/bootstrap-responsive.min.css"
		rel="stylesheet" type="text/css" />
	<link
		href="#{facesContext.externalContext.requestContextPath}/style/css/bootstrap-aks.css"
		rel="stylesheet" type="text/css" />
	<link
		href="#{facesContext.externalContext.requestContextPath}/favicon.ico"
		rel="icon" />
	<script
		src="#{facesContext.externalContext.requestContextPath}/style/js/bootstrap.min.js"
		type="text/javascript"></script>
		<script>
        function extender() {
        this.cfg.seriesDefaults = {
        showMarker: true,
        renderer: $.jqplot.BarRenderer,
        pointLabels: {show: true, location: 'n', ypadding: 0, hideZeros: true}
        };    
    }
</script>
		
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"
		type="text/javascript"></script>
	<!-- <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script> -->
	<style>
		.affaires .ui-menuitem-text {
			color: #f5f5f5;
			font-weight: bold;
		}
		
		.affaires .ui-widget-content {
			background: #0d3a88;
		}
		
		.container-fluid {
			padding-left: 0px !important;
			padding-right: 0px !important;
		}
		.ui-datatable-odd{
			background-color:#ecf4ff !important;
		}
		label{
		  font-size:12px !important;
		}
		.ui-selectmanycheckbox{
			float:left !important;
		}
	</style>
	<script>
		$(document).ready(function(){
			$("option").each(function() {
				if(this.text=="*"){
					$(this).html("All");
				}
			});
		});
	</script>
</h:head>

<body>

	<div class="navbar navbar-fixed-top">
		<div class="container-fluid">
			<h:form>
				<div class="nav-collapse collapse">
					<prime:menubar style="background: #0d3a88">

						<prime:menuitem styleClass="brand"
							style="margin-left: 1px; margin-bottom: 1px; margin-right:16px;"
							value="Çimsa Audit Follow Up System (AFUS)"
							action="#{authenticationController.redirectUserToWelcomePage}" />

						<prime:menuitem value="My Tasks"
							rendered="#{sec:areAnyGranted('ROLE_USER')}"
							url="/users/userTasks.xhtml"
							style="margin: auto; margin-top: 5px; color: #f5f5f5; font-weight: bold; font-size: 14px;" />

						<prime:menuitem value="My Department Tasks"
							rendered="#{sec:areAnyGranted('ROLE_USER, ROLE_ADMIN') and visit.user.userReponsibleOfAnyBusinessType}"
							url="/users/departmentFindings.xhtml"
							style="margin: auto; margin-top: 5px; color: #f5f5f5; font-weight: bold; font-size: 14px;" />

						<prime:menuitem value="Finding List"
							rendered="#{sec:areAnyGranted('ROLE_ADMIN, ROLE_READONLY')}"
							url="/admin/findingAdmin.xhtml"
							style="margin: auto; margin-top: 5px; color: #f5f5f5; font-weight: bold; font-size: 14px;" />

						<prime:menuitem value="Search" url="/admin/searchFinding.xhtml"
							rendered="#{sec:areAnyGranted('ROLE_ADMIN, ROLE_USER, ROLE_READONLY')}"
							style="margin: auto; margin-top: 5px; color: #f5f5f5; font-weight: bold; font-size: 14px;"
							action="#{commonDefinitionsController.init()}" />

						<prime:submenu label="Finding" styleClass="affaires"
							rendered="#{sec:areAnyGranted('ROLE_ADMIN')}"
							style="margin: auto; margin-top: 5px; font-size: 14px;">
							<prime:menuitem value="New"
								rendered="#{sec:areAnyGranted('ROLE_ADMIN')}"
								url="/admin/editFinding.xhtml" style="font-size: 14px"/>
							<prime:menuitem value="Excel Import"
								rendered="#{sec:areAnyGranted('ROLE_ADMIN')}"
								url="/admin/importFinding.xhtml" style="font-size: 14px"/>
						</prime:submenu>

						<prime:submenu label="Administration" styleClass="affaires"
							rendered="#{sec:areAnyGranted('ROLE_ADMIN')}"
							style="margin: auto; margin-top: 5px; font-size: 14px;">
							<prime:menuitem value="User Administration"
								rendered="#{sec:areAnyGranted('ROLE_ADMIN')}"
								url="/admin/userAdmin.xhtml" style="font-size: 14px"/>

							<prime:submenu label="Audit and Main Process Administration" style="font-size: 14px">
								<prime:menuitem value="Audit Type Administration"
									rendered="#{sec:areAnyGranted('ROLE_ADMIN')}"
									url="/admin/auditTypesAdmin.xhtml" style="font-size: 14px"/>
								<prime:menuitem value="Main Process Administration"
									rendered="#{sec:areAnyGranted('ROLE_ADMIN')}"
									url="/admin/businessTypesAdmin.xhtml" style="font-size: 14px"/>
								<prime:menuitem value="View All in Once"
									rendered="#{sec:areAnyGranted('ROLE_ADMIN')}"
									url="/admin/auditAndBusinessTypesViewAll.xhtml" style="font-size: 14px"/>
							</prime:submenu>
							<prime:menuitem value="Department Administration"
								rendered="#{sec:areAnyGranted('ROLE_ADMIN')}"
								url="/admin/departmentTypesAdmin.xhtml" style="font-size: 14px"/>
							<prime:menuitem value="Email Administration"
								rendered="#{sec:areAnyGranted('ROLE_ADMIN')}"
								url="/admin/emailAdmin.xhtml" style="font-size: 14px"/>
						</prime:submenu>

						<prime:submenu label="Reports" styleClass="affaires"
							rendered="#{sec:areAnyGranted('ROLE_ADMIN')}"
							style="margin: auto; margin-top: 5px; font-size: 14px;">
							<prime:menuitem value="Number of Findings per Status Graph"
								rendered="#{sec:areAnyGranted('ROLE_ADMIN, ROLE_READONLY')}"
								url="/admin/numberOfFindingsPerStatusGraphicalReport.xhtml" style="font-size: 14px"/>
							<prime:menuitem value="Number of Findings per Company Graph"
								rendered="#{sec:areAnyGranted('ROLE_ADMIN, ROLE_READONLY')}"
								url="/admin/numberOfFindingsPerCompanyGraphicalReport.xhtml" style="font-size: 14px"/>
							<prime:menuitem value="Number of Findings per Year Graph"
								rendered="#{sec:areAnyGranted('ROLE_ADMIN, ROLE_READONLY')}"
								url="/admin/numberOfFindingsPerYearGraphicalReport.xhtml" style="font-size: 14px"/>
						</prime:submenu>

						<prime:menuitem value="Help"
							rendered="#{sec:areAnyGranted('ROLE_ADMIN, ROLE_USER, ROLE_READONLY')}"
							style="margin: auto; margin-top: 5px; color: #f5f5f5; font-weight: bold; font-size: 14px;"
							url="/documents/Help_Dokumani.pdf" target="_document" />

						<prime:menuitem
							style="position: absolute; top: 9px; right: 6px; color: #f5f5f5; font-weight: bold; font-size: 14px;"
							value="Logout (#{visit.user.nameSurname})"
							action="#{authenticationController.logout}" />

					</prime:menubar>
				</div>
			</h:form>
		</div>
	</div>


	<prime:growl id="growl" showDetail="false" sticky="false" life="5000"
		autoUpdate="true" />


	<prime:ajaxStatus onstart="PF('statusDialog').show()"
		oncomplete="PF('statusDialog').hide()" />

	<prime:dialog modal="false" widgetVar="statusDialog"
		header="Please Wait" draggable="false" closable="false"
		showEffect="bounce" hideEffect="bounce" resizable="false">
		<prime:graphicImage value="/images/ajaxloadingbar.gif" />
	</prime:dialog>

	<!-- /container -->

	<div class="container">

		<div class="content">
			<div class="page-header">
				<h5>
					<ui:insert name="pageHeader" />
				</h5>
			</div>
			<div class="row">
				<div class="span12">
					<ui:insert name="mainContent" />
				</div>
			</div>
		</div>

		<footer>
		<p>
			Bu sistemin mülkiyeti Çimsa’ya aittir ve şirkete özel, gizli bilgiler
			içermektedir. Bu bilgiler Çimsa dışı kullanılamaz ve paylaşılamaz.
			Bilgi güvenliği ve gizliliği kullanıcıların sorumluluğundadır.
			<br />
			This system belongs to Çimsa and contains private, confidential
			informations. These informations can not be shared or disclosed outside
			the Company. Information security and confidentiality are under the
			responsibility of system users.
		</p>
		</footer>

	</div>
	<!-- /container -->
</body>
</html>

