<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:prime="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Cache-Control" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
	<meta http-equiv="Last-Modified" content="0" />
	<meta http-equiv="Cache-Control" content="no-cache, mustrevalidate" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title><ui:insert name="title">Çimsa Audit Follow Up System (AFUS) v#{initParam['appVersion']}</ui:insert></title>
	<link
		href="#{facesContext.externalContext.requestContextPath}/style/css/bootstrap.css"
		rel="stylesheet" type="text/css" />
	<link
		href="#{facesContext.externalContext.requestContextPath}/style/css/bootstrap-responsive.min.css"
		rel="stylesheet" type="text/css" />
	<link
		href="#{facesContext.externalContext.requestContextPath}/style/css/bootstrap-aks.css"
		rel="stylesheet" type="text/css" />
	<link
		href="#{facesContext.externalContext.requestContextPath}/favicon.ico"
		rel="icon" />
	<script
		src="#{facesContext.externalContext.requestContextPath}/style/js/bootstrap.min.js"
		type="text/javascript"></script>
	<!-- <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script> -->
	<style>
		.container-fluid {
			padding-left:0px !important;
			padding-right:0px !important;
		}
	</style>
</h:head>

<body>
	<div class="navbar navbar-fixed-top">
		<div class="container-fluid">
			<h:form>
				<div class="nav-collapse collapse">
					<prime:menubar style="background: #0d3a88">

						<prime:menuitem styleClass="brand"
							style="margin-left: 1px; margin-bottom: 1px;"
							value="Çimsa Audit Follow Up System (AFUS) v#{initParam['appVersion']}"
							action="#{authenticationController.redirectUserToWelcomePage}" />
						
					</prime:menubar>
				</div>
			</h:form>
		</div>
	</div>

	<prime:growl id="growl" showDetail="false" sticky="false" life="1500"/>

	<!-- /container -->

	<div class="container">

		<div class="content">
			<div class="row">
				<div class="span2 offset4">
					<h:form>
						<ui:insert name="mainContent" />
					</h:form>
				</div>
			</div>
		</div>

		<footer>
		<p>Çimsa 2019</p>
		</footer>

	</div>
	<!-- /container -->
</body>
</html>

