<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                template="/WEB-INF/templates/noLinksTemplateForAccessDenied.xhtml">

    <ui:define name="mainContent">
        <div style="width: 500px;">
            <h:outputLabel value="You don't have permission to view this function/page" style="font-size:15px;font-weight:bold;"/>
            <h:commandLink value="Click here to return main page" action="#{authenticationController.redirectUserToWelcomePage}" />
        </div>
    </ui:define>

</ui:composition>