<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:prime="http://primefaces.org/ui"
                xmlns:sec="http://www.springframework.org/security/tags"
                template="/WEB-INF/templates/noLinksTemplateForLogin.xhtml">

    <ui:define name="mainContent">
        <f:metadata>
            <f:event type="preRenderView" listener="#{authenticationController.handleAlreadyLoggedInUsers}"/>
        </f:metadata>
        <table class="table table-bordered table-striped" style="border-collapse: collapse">
            <thead>
            <tr>
                <th colspan="2" style="text-align: center">
                    <center><img style="max-width:320px;" src="images/afus_logo03.jpg" /></center>
                    <br />Enter your username and password
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <h:outputLabel value="Username:" for="username"/></td>
                <td>
                    <h:inputText id="username"
                                 value="#{authenticationController.username}"
                                 maxlength="20"/>
                </td>
            </tr>
            <tr>
                <td>
                    <h:outputLabel value="Password:" for="password"/>
                </td>
                <td>
                    <prime:password id="password" value="#{authenticationController.username}" feedback="true" promptLabel="Please enter your password "/>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <h:commandButton value="Login" styleClass="btn btn-primary" style="float:right;" action="#{authenticationController.login}"/>
                </td>
            </tr>
            </tbody>
        </table>
    </ui:define>

</ui:composition>